{% extends 'base.html.twig' %}
{% block styles %}<link href="{{asset('styles/roster.css')}}?v={{cacheBust}}" rel="stylesheet">{% endblock %}
{% block body %}
<div class="site-header">
  <img src="{{asset('img/LethalAssassins.png')}}" alt="Lethal Assassins">
</div>

<h1 class="roster-header">Roster</h1>
<table class="roster" style="">
  <tr>
    <th class="rostera">Rank</th>
    <th class="rosterb">Name</th>
    <th class="rosterc">Join Date</th>
    <th class="rosterd">Discord ID</th>
  </tr>
  <tr>
    <th class="roster1" colspan="4"></th>
  </tr>
  {% for player in clanMaster %}
    <tr>
      <td class="rostera">Clan Master</td>
      <td class="rosterb">{{player.name}}</td>
      <td class="rosterc">{{player.joindate}}</td>
      <td class="rosterd">{{player.discordId}}</td>
    </tr>
  {% endfor %}
  <tr>
    <th class="roster1" colspan="4"></th>
  </tr>
  {% for player in officers %}
    <tr>
      <td class="rostera">Officer</td>
      <td class="rosterb">{{player.name}}</td>
      <td class="rosterc">{{player.joindate}}</td>
      <td class="rosterd">{{player.discordId}}</td>
    </tr>
  {% endfor %}
  <tr>
    <th class="roster1" colspan="4"></th>
  </tr>
  {% for player in fighters %}
    <tr>
      <td class="rostera">Fighter</td>
      <td class="rosterb">{{player.name}}</td>
      <td class="rosterc">{{player.joindate}}</td>
      <td class="rosterd">{{player.discordId}}</td>
    </tr>
  {% endfor %}
  <tr>
    <th class="roster1" colspan="4"></th>
  </tr>
  {% for player in recruits %}
    <tr>
      <td class="rostera">Recruit</td>
      <td class="rosterb">{{player.name}}</td>
      <td class="rosterc">{{player.joindate}}</td>
      <td class="rosterd">{{player.discordId}}</td>
      <td>-</td>
    </tr>
  {% endfor %}
</table>
<div class="contact-roster">Contact our Master or one of our Officer's if you are interested in joining forces with Lethal Assassins, or you wish to set up a Clan War.</div>

{#
<h1 class="screenshots-header">Screenshots</h1>
<div class="component-screenshot" id="component-screenshots">
  {% for screenshot in screenshots %}
    <div class="container image-{{loop.index}}{{loop.index == 1 ? ' show' : ''}}">
      <img src="{{screenshot}}"/>
    </div>
  {% endfor %}
  <div class="select-buttons">
    {% for screenshot in screenshots %}
      <span>
        <button name="image-{{loop.index}}">●</button>
      </span>
    {% endfor %}
  </div>
</div>
<script type="text/javascript">
  var screenshotBox
</script>
#}
{% endblock body %}
