{% extends 'base.html.twig' %}
{% block styles %}
<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/base-min.css">
<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css" integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous">
<link rel="stylesheet" href="{{asset('styles/base.css')}}?v={{cacheBust}}">
<style media="screen">
  .games-list table {
    min-width: 100%;
  }
  .add-user {
    margin-top: 1rem;
  }
</style>
{% endblock %}
{% block body %}
<div class="games-list admin-panel">
  {% include 'admin/navigation.html.twig' %}
  <h1><a href="{{path('esl-roster')}}">ESL Games</a> / {{game.date}}</h1>
  <ul>
    <li>Type: <b>{{game.type}}</b></li>
    <li>Date: <b>{{game.date}}</b></li>
    <li><b>{{game.playerCount}}</b> players signed up</li>
    <li><a href="{{game.pageLink}}">Tournament Page</a></li>
  </ul>
  <table class="pure-table pure-table-horizontal">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Commitment</th>
      <th>Remove</th>
    </tr>
    {% for player in players %}
      <tr>
        <td>{{player.id}}</td>
        <td>{{player.name}}</td>
        <td>{{player.commitment}}</td>
        <td>
          <form action="{{path('esl-roster-remove', {"gameId": game.id})}}" method="POST">
            <input type="hidden" name="playerId" value="{{player.id}}">
            <input type="hidden" name="csrf-token" value="{{ csrf_token('change-esl') }}">
            <button type="submit" class="pure-button button-error">Remove</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
{% if is_granted('ROLE_ADMIN') %}
  <div class="add-user admin-panel">
    <form action="{{path('esl-roster-add', {"gameId": game.id})}}" method="POST" class="pure-form pure-form-stacked">
      <label for="user-id">Add player</label>
      <select id="player-id" name="playerId">
        {% for player in nonPlayers %}
          <option value="{{player.id}}">{{player.name}}</option>
        {% endfor %}
      </select>
      <label for="user-commitment">Commitment</label>
      <input type="text" id="player-commitment" name="playerCommitment" placeholder="'100%, confident, backup'" />
      <input type="hidden" name="csrf-token" value="{{ csrf_token('change-esl') }}">
      <button class="pure-button pure-button-primary" type="submit">Add player</button>
    </form>
    {% for flash_message in app.session.flashBag.get('error') %}
      <div class="error-alert">
        {{ flash_message }}
      </div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('success') %}
      <div class="success-alert">
        {{ flash_message }}
      </div>
    {% endfor %}
  </div>
{% endif %}
{% endblock body %}
